.label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.input {
    width: 50%;
    height: 40px;
    margin: 7px 0;
    padding-left: 7px;
    border: none;
    border-radius: 7px;
    margin-left: 5px;
}

.input[value] {
    color: #7e7e7e;
}
