.label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.formControl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.input {
    width: 100%;
    height: 40px;
    margin: 7px 0;
    padding-left: 7px;
    border: none;
    border-radius: 7px 0 0 7px;
    position: relative;
}

.formControl span {
    display: block;
    height: 40px;
    background-color: #fff;
    display: grid;
    place-items: center;
    padding-right: 7px;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    width: 288px;
    height: auto;
    margin-top: 50px;
    z-index: 1;
}

.resultsContainer {
    padding: 10px 7px;
    width: 100%;
    border-bottom: 0.5px rgba(201, 201, 201, 0.322) solid;
    cursor: pointer;
}
